* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: rgba(255, 255, 255, 0.808);

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;

  height: 100vh;
  width: 98vw;
  /* background-image: url(https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); */
  /* filter: blur(); */
  /* backdrop-filter: blur(5px); */
  /* background-repeat: no-repeat; */
}

body:before {
  content: "";
  position: fixed;
  background-image: url(https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */
  height: 100%;
  width: 100%;
  filter: blur(2px) brightness(20%);
}

.container {
  width: 96vw;
  margin: 80px 2% 0px 2.9%;
}

header {
  z-index: 10;
  top: 010px;
  left: 1%;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: center;
  font-weight: 560;
  font-size: 19px;
  background-color: rgba(0, 0, 0, 0.904);
  height: 50px;
  display: flex;
  position: fixed;
  width: 98%;
  justify-content: space-around;
  flex-wrap: nowrap;
  border-radius: 25px;
}
header a {
  color: white;
  text-decoration: none;
}

.home_button {
  background-repeat: no-repeat;
  width: 11.5%;
}

.navigation_menu {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.icons {
  width: 18%;
  display: flex;
  justify-content: space-around;
}

.fa {
  color: rgb(255, 255, 255);
}

header a:hover,
.fa:hover {
  color: orange;
}

.main_heading {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  justify-content: center;
  text-align: center;
  font-size: 55px;
  color: rgba(255, 255, 255, 0.808);
}

.image_grid {
  color: white;
  display: grid;
  grid-template-rows: repeat(3, 300px);

  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  width: 100%;
  /* height: 100%; */
}

.image_grid div img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* opacity: 0.89; */
  object-fit: cover;
  filter: brightness(80%);
}

#img1 {
  grid-column: 1 / span 2;
}

#img5 {
  grid-column: 3 / span 2;
}

#img9 {
  grid-column: 3 / span 2;
}

.col_content {
  display: flex;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.808);
  font-size: 45px;
  background-color: rgba(0, 0, 0, 0.384);
}

.visit_us {
  margin-top: 50px;
}

/* .visit_us_cards {
  margin-bottom: 100px;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 250px;
} */

.visit_us_cards {
  margin-bottom: 50px;
  display: flex;

  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 300px;
}

.cards {
  font-size: 20px;
  color: white;
  border-radius: 20px;
  margin: 0px 50px;
  width: 60%;
  background-color: rgba(116, 114, 114, 0.555);
}

.cards ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.cards ul li {
  list-style: none;
}

.city {
  font-size: 25px;
  font-weight: bold;
}

footer {
  height: 50px;
  width: 100%;
  background-color: brown;
}
